@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');

:root {
    --primary: #F76B0A;
    --secondary: #19CEDA;
    --grey: #676767;
    --max-width: 1300px;
    --content-padding: 0 12em;
}

.prevent-select, h1, h2, h3, h4, h5, h6, p, li, img {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

img {
    pointer-events: none;
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none;
}

html, body {
    margin: 0;
    padding: 0;
    letter-spacing: 2px;
}

body {
    color: white;
    background-color: #0A0A0A;
    font-family: 'Open Sans', sans-serif;
}

nav {
    transition: all 0.5s;
    .container-fluid {
        .navbar-brand {
            display: flex;
            flex-direction: row;
            align-items: end;
            font-size: 25px;
            font-weight: 400;
            letter-spacing: 3px;
            span {
                color: var(--primary);
            }
            img {
                height: 3.5rem;
                width: 3.5rem;
                margin-right: 10px;
                margin-left: 25px;
            }
        }
        .collapse > .navbar-nav > .nav-item {
            padding-left: 40px;
            font-size: 1.1em;
            .nav-link:hover {
                color: white;
            }
        }
    }
}

.scrolled {
    background-color: rgba(0, 0, 0, 1);
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
}

.hero-section {
    background-color: black;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100vh;
    width: 100%;
    .hero-content {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 60%;
        max-height: 420px;
        padding-left: 40px;
        width: 45%;
        div {
            h1 {
                font-weight: bold;
                font-size: 40px;
                letter-spacing: 15px;
            }
            hr {
                width: 200px;
                border: none;
                height: 2.5px;
                background-color: var(--primary);
            }
        }
        h2 {
            font-size: 40px;
            font-weight: 600;
            span {
                color: var(--primary);
            }
        }
        p {
            width: 80%;
        }
    }
    .hero-image {
        height: 100%;
        width: 50%;
        max-width: 700px;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover; 
    }
    .cut-bg {
        background-image: url("../../assets/cut-hero.png");
    }
    .maintain-bg {
        background-image: url("../../assets/maintain-hero.png");
    }
    .bulk-bg {
        background-position: 0px 0px;
        background-image: url("../../assets/bulk-hero.png");
    }
}

.calorie-deficit-section {
    width: 100%;
    padding-top: 100px;
    h2 {
        font-weight: 600;
        font-size: 30px;
        span {
            color: var(--primary);
        }
    }
    p {
        margin-top: 50px;
        width: 70%;
    }

    .cutting-moto {
        margin-top: 80px;
        background-color: #131313;
        width: 100%;
        border-left: solid 3px var(--primary);
        padding: 30px 50px;
        padding-top: 35px;
        h3 {
            font-size: 25px;
            font-weight: 600;
            color: var(--primary);
        }
        p {
            margin-top: 30px;
            width: 100%;
        }
    }
}

.roadmap-section {
    width: 100%;
    padding-top: 80px;
    h2 {
        span {
            color: var(--primary);
        }
    }
    .py-5 {
        padding-right: 150px;
        padding-left: 15px;


        .timeline-with-icons {
            border-left: 1px solid var(--primary);
            position: relative;
            list-style: none;
            .timeline-item {
                .timeline-icon {
                    font-weight: bold;
                    font-size: 15px;
                }
            }
          }
          
          .timeline-with-icons .timeline-item {
            position: relative;
          }
          
          .timeline-with-icons .timeline-item:after {
            position: absolute;
            display: block;
            top: 0;
          }
          
          .timeline-with-icons .timeline-icon {
            position: absolute;
            left: -48px;
            background-color: var(--primary);
            color: white;
            border-radius: 50%;
            height: 31px;
            width: 31px;
            display: flex;
            align-items: center;
            justify-content: center;
          }
    }
}

#diets-hr {
    background-color: var(--primary);
    color: var(--primary);
}

.diets-section {
    padding-top: 80px;
    width: 100%;
    h2 {
        span {
            color: var(--primary);
        }
    }
    .meals {
        margin-top: 60px;
        margin-bottom: 60px;
        display: flex;
        flex-direction: column;
        .diet-row {
            display: flex;
            flex-direction: row;
            width: 100%;
            height: calc(100vw / 3.5);
            max-height: 400px;
            .diet {
                position: relative;
                cursor: pointer;
                height: 100%;
                width: calc(100% / 4);
                background-color: grey;
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center center;
                .overlay {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    background-color: rgba(0, 0, 0, 0.7);
                    overflow: hidden;
                    width: 0%;
                    height: 100%;
                    transition: all .8s ease-in-out;
                      .overlay-inner {
                        position: absolute;
                        overflow-wrap: break-word;
                        padding: 15% 10%;
                        height: 100%;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        .meal-name {
                            overflow-wrap: break-word;
                            display: flex;
                            flex-direction: row;
                            padding-bottom: 20px;
                            img {
                                height: 35px;
                                width: 35px;
                                margin-right: 10px;
                            }
                            h2 {
                                font-weight: 500;
                                overflow-wrap: break-word;
                            }
                        }
                        .meal-macros {
                            display: flex;
                            flex-direction: column;
                            .carbs, .protein, .fat {
                                padding-bottom: 5px;
                                display: flex;
                                flex-direction: row;
                                align-items: center;
                                img {
                                    height: 25px;
                                    width: 25px;
                                    margin-bottom: 8px;
                                    margin-right: 5px;
                                }
                                h6 {
                                    font-size: 15px;
                                    width: 70px;
                                }
                                h6:last-child {
                                    margin-left: 60px;
                                }
                            }
                        }
                        .meal-cals {
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            img {
                                height: 50px;
                                width: 50px;
                                margin-bottom: 10px;
                                margin-left: -10px;
                            }
                        }
                      }
                }
            }
            .diet:hover > .overlay {
                width: 100%;
            }
        }
        .row-1 {
            .one {
                background-image: url("../../assets/diets/1.png");
            }
            .two {
                background-image: url("../../assets/diets/2.png");
            }
            .three {
                background-image: url("../../assets/diets/3.png");
            }
            .four {
                background-image: url("../../assets/diets/4.png");
            }
        }
        .row-2 {
            .one {
                background-image: url("../../assets/diets/5.png");
            }
            .two {
                background-image: url("../../assets/diets/6.png");
            }
            .three {
                background-image: url("../../assets/diets/7.png");
            }
            .four {
                background-image: url("../../assets/diets/8.png");
            }
        }
        .row-3 {
            .one {
                background-image: url("../../assets/diets/9.png");
            }
            .two {
                background-image: url("../../assets/diets/10.png");
            }
            .three {
                background-image: url("../../assets/diets/11.png");
            }
            .four {
                background-image: url("../../assets/diets/12.png");
            }
        }
        .row-4 {
            .one {
                background-image: url("../../assets/diets/13.png");
            }
            .two {
                background-image: url("../../assets/diets/14.png");
            }
            .three {
                background-image: url("../../assets/diets/15.png");
            }
            .four {
                background-image: url("../../assets/diets/16.png");
            }
        }
    }
}

/* FOOTER SECTION */
footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    padding-bottom: 15px;
    box-sizing: border-box;
    width: 100%;
    background-color: #111111;
    .footer-logo {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: end;
        img {
            height: 40px;
            width: 40px;
        }
        p {
            margin: 0;
            margin-bottom: 2px;
            margin-left: 10px;
            padding: 0;
            font-size: 21px;
            span {
                color: var(--primary);
            }
        }
    }
    .footer-socials {
        a > i {
            font-size: 18px;
        }
        .fa {
            background-color: transparent;
            padding: 5px;
            color: white;
            text-align: center;
            text-decoration: none;
            margin: 5px 5px;
        }
        
        .fa:hover {
            color: var(--primary);
        }
    }
    h4 {
        margin: 0;
        padding: 0;
        font-size: 17px;
        font-weight: 300;
    }
}

