@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap");
:root {
  --primary: #F76B0A;
  --secondary: #19CEDA;
  --grey: #676767;
  --max-width: 1300px;
  --content-padding: 0 12em;
}

.prevent-select, h1, h2, h3, h4, h5, h6, p, li, img {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

img {
  pointer-events: none;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}

html, body {
  margin: 0;
  padding: 0;
  letter-spacing: 2px;
}

body {
  color: white;
  background-color: #0A0A0A;
  font-family: 'Open Sans', sans-serif;
}

nav {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

nav .container-fluid .navbar-brand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  font-size: 25px;
  font-weight: 400;
  letter-spacing: 3px;
}

nav .container-fluid .navbar-brand span {
  color: var(--primary);
}

nav .container-fluid .navbar-brand img {
  height: 3.5rem;
  width: 3.5rem;
  margin-right: 10px;
  margin-left: 25px;
}

nav .container-fluid .collapse > .navbar-nav > .nav-item {
  padding-left: 40px;
  font-size: 1.1em;
}

nav .container-fluid .collapse > .navbar-nav > .nav-item .nav-link:hover {
  color: white;
}

.scrolled {
  background-color: black;
  -webkit-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
          box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
}

.hero-section {
  background-color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  width: 100%;
}

.hero-section .hero-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 60%;
  max-height: 420px;
  padding-left: 40px;
  width: 45%;
}

.hero-section .hero-content div h1 {
  font-weight: bold;
  font-size: 40px;
  letter-spacing: 15px;
}

.hero-section .hero-content div hr {
  width: 200px;
  border: none;
  height: 2.5px;
  background-color: var(--primary);
}

.hero-section .hero-content h2 {
  font-size: 40px;
  font-weight: 600;
}

.hero-section .hero-content h2 span {
  color: var(--primary);
}

.hero-section .hero-content p {
  width: 80%;
}

.hero-section .hero-image {
  height: 100%;
  width: 50%;
  max-width: 700px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.hero-section .cut-bg {
  background-image: url("../../assets/cut-hero.png");
}

.hero-section .maintain-bg {
  background-image: url("../../assets/maintain-hero.png");
}

.hero-section .bulk-bg {
  background-position: 0px 0px;
  background-image: url("../../assets/bulk-hero.png");
}

.calorie-deficit-section {
  width: 100%;
  padding-top: 100px;
}

.calorie-deficit-section h2 {
  font-weight: 600;
  font-size: 30px;
}

.calorie-deficit-section h2 span {
  color: var(--primary);
}

.calorie-deficit-section p {
  margin-top: 50px;
  width: 70%;
}

.calorie-deficit-section .cutting-moto {
  margin-top: 80px;
  background-color: #131313;
  width: 100%;
  border-left: solid 3px var(--primary);
  padding: 30px 50px;
  padding-top: 35px;
}

.calorie-deficit-section .cutting-moto h3 {
  font-size: 25px;
  font-weight: 600;
  color: var(--primary);
}

.calorie-deficit-section .cutting-moto p {
  margin-top: 30px;
  width: 100%;
}

.roadmap-section {
  width: 100%;
  padding-top: 80px;
}

.roadmap-section h2 span {
  color: var(--primary);
}

.roadmap-section .py-5 {
  padding-right: 150px;
  padding-left: 15px;
}

.roadmap-section .py-5 .timeline-with-icons {
  border-left: 1px solid var(--primary);
  position: relative;
  list-style: none;
}

.roadmap-section .py-5 .timeline-with-icons .timeline-item .timeline-icon {
  font-weight: bold;
  font-size: 15px;
}

.roadmap-section .py-5 .timeline-with-icons .timeline-item {
  position: relative;
}

.roadmap-section .py-5 .timeline-with-icons .timeline-item:after {
  position: absolute;
  display: block;
  top: 0;
}

.roadmap-section .py-5 .timeline-with-icons .timeline-icon {
  position: absolute;
  left: -48px;
  background-color: var(--primary);
  color: white;
  border-radius: 50%;
  height: 31px;
  width: 31px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#diets-hr {
  background-color: var(--primary);
  color: var(--primary);
}

.diets-section {
  padding-top: 80px;
  width: 100%;
}

.diets-section h2 span {
  color: var(--primary);
}

.diets-section .meals {
  margin-top: 60px;
  margin-bottom: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.diets-section .meals .diet-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  height: calc(100vw / 3.5);
  max-height: 400px;
}

.diets-section .meals .diet-row .diet {
  position: relative;
  cursor: pointer;
  height: 100%;
  width: calc(100% / 4);
  background-color: grey;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.diets-section .meals .diet-row .diet .overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.7);
  overflow: hidden;
  width: 0%;
  height: 100%;
  -webkit-transition: all .8s ease-in-out;
  transition: all .8s ease-in-out;
}

.diets-section .meals .diet-row .diet .overlay .text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  white-space: nowrap;
}

.diets-section .meals .diet-row .diet .overlay .overlay-inner {
  position: absolute;
  white-space: nowrap;
  padding: 15% 10%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.diets-section .meals .diet-row .diet .overlay .overlay-inner .meal-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.diets-section .meals .diet-row .diet .overlay .overlay-inner .meal-name img {
  height: 35px;
  width: 35px;
  margin-right: 10px;
}

.diets-section .meals .diet-row .diet .overlay .overlay-inner .meal-name h2 {
  font-weight: 500;
}

.diets-section .meals .diet-row .diet .overlay .overlay-inner .meal-macros {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.diets-section .meals .diet-row .diet .overlay .overlay-inner .meal-macros .carbs, .diets-section .meals .diet-row .diet .overlay .overlay-inner .meal-macros .protein, .diets-section .meals .diet-row .diet .overlay .overlay-inner .meal-macros .fat {
  padding-bottom: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.diets-section .meals .diet-row .diet .overlay .overlay-inner .meal-macros .carbs img, .diets-section .meals .diet-row .diet .overlay .overlay-inner .meal-macros .protein img, .diets-section .meals .diet-row .diet .overlay .overlay-inner .meal-macros .fat img {
  height: 25px;
  width: 25px;
  margin-bottom: 8px;
  margin-right: 5px;
}

.diets-section .meals .diet-row .diet .overlay .overlay-inner .meal-macros .carbs h6, .diets-section .meals .diet-row .diet .overlay .overlay-inner .meal-macros .protein h6, .diets-section .meals .diet-row .diet .overlay .overlay-inner .meal-macros .fat h6 {
  font-size: 15px;
  width: 60px;
}

.diets-section .meals .diet-row .diet .overlay .overlay-inner .meal-macros .carbs h6:last-child, .diets-section .meals .diet-row .diet .overlay .overlay-inner .meal-macros .protein h6:last-child, .diets-section .meals .diet-row .diet .overlay .overlay-inner .meal-macros .fat h6:last-child {
  margin-left: 60px;
}

.diets-section .meals .diet-row .diet .overlay .overlay-inner .meal-cals {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.diets-section .meals .diet-row .diet .overlay .overlay-inner .meal-cals img {
  height: 50px;
  width: 50px;
  margin-bottom: 10px;
  margin-left: -10px;
}

.diets-section .meals .diet-row .diet:hover > .overlay {
  width: 100%;
}

.diets-section .meals .row-1 .one {
  background-image: url("../../assets/diets/1.png");
}

.diets-section .meals .row-1 .two {
  background-image: url("../../assets/diets/2.png");
}

.diets-section .meals .row-1 .three {
  background-image: url("../../assets/diets/3.png");
}

.diets-section .meals .row-1 .four {
  background-image: url("../../assets/diets/4.png");
}

.diets-section .meals .row-2 .one {
  background-image: url("../../assets/diets/5.png");
}

.diets-section .meals .row-2 .two {
  background-image: url("../../assets/diets/6.png");
}

.diets-section .meals .row-2 .three {
  background-image: url("../../assets/diets/7.png");
}

.diets-section .meals .row-2 .four {
  background-image: url("../../assets/diets/8.png");
}

.diets-section .meals .row-3 .one {
  background-image: url("../../assets/diets/9.png");
}

.diets-section .meals .row-3 .two {
  background-image: url("../../assets/diets/10.png");
}

.diets-section .meals .row-3 .three {
  background-image: url("../../assets/diets/11.png");
}

.diets-section .meals .row-3 .four {
  background-image: url("../../assets/diets/12.png");
}

.diets-section .meals .row-4 .one {
  background-image: url("../../assets/diets/13.png");
}

.diets-section .meals .row-4 .two {
  background-image: url("../../assets/diets/14.png");
}

.diets-section .meals .row-4 .three {
  background-image: url("../../assets/diets/15.png");
}

.diets-section .meals .row-4 .four {
  background-image: url("../../assets/diets/16.png");
}

/* FOOTER SECTION */
footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 20px;
  padding-bottom: 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  background-color: #111111;
}

footer .footer-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}

footer .footer-logo img {
  height: 40px;
  width: 40px;
}

footer .footer-logo p {
  margin: 0;
  margin-bottom: 2px;
  margin-left: 10px;
  padding: 0;
  font-size: 21px;
}

footer .footer-logo p span {
  color: var(--primary);
}

footer .footer-socials a > i {
  font-size: 18px;
}

footer .footer-socials .fa {
  background-color: transparent;
  padding: 5px;
  color: white;
  text-align: center;
  text-decoration: none;
  margin: 5px 5px;
}

footer .footer-socials .fa:hover {
  color: var(--primary);
}

footer h4 {
  margin: 0;
  padding: 0;
  font-size: 17px;
  font-weight: 300;
}
/*# sourceMappingURL=cut.css.map */