@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');

:root {
    --primary: #F76B0A;
    --secondary: #19CEDA;
    --grey: #676767;
    --max-width: 1300px;
    --content-padding: 0 12em;
}

.prevent-select, h1, h2, h3, h4, h5, h6, p, li, img {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

img {
    pointer-events: none;
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none;
}

html, body {
    margin: 0;
    letter-spacing: 2px;
}

body {
    color: white;
    background-color: black;
    font-family: 'Open Sans', sans-serif;
}

nav {
    .container-fluid {
        .navbar-brand {
            display: flex;
            flex-direction: row;
            align-items: end;
            font-size: 25px;
            font-weight: 400;
            letter-spacing: 3px;
            span {
                color: var(--primary);
            }
            img {
                height: 3.5rem;
                width: 3.5rem;
                margin-right: 10px;
                margin-left: 25px;
            }
        }
        .collapse > .navbar-nav > .nav-item {
            padding-left: 40px;
            font-size: 1.1em;
            .nav-link:hover {
                color: white;
            }
        }
    }
}

.diets-landing {
    height: 100vh;
    width: 100%;
    background-image: url("../assets/diets-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0;
    .diets-inner {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        .diets-content {
            width: 55%;
            h6 {
                margin: 0;
                font-size: 20px;
                font-weight: 500;
            }
            h1 {
                margin: 0;
                margin-top: 8%;
                font-size: 45px;
                font-weight: 500;
                span {
                    color: var(--primary);
                }
            }
            p {
                width: 70%;
                margin-top: 8%;
                font-size: 17px;
            }
        }
        .diets-cards {
            display: flex;
            flex-direction: column;
            height: 80vh;
            width: 40vh;
            max-width: 300px;
            max-height: 600px;
            h2 {
                font-size: 30px;
                font-weight: bold;
            }
            .diets-card, .supplements-card {
                display: flex;
                align-items: center;
                justify-content: center;
                height: 100%;
                width: 100%;
                background-repeat: no-repeat;
                background-size: cover;
                background-position: 0;
                text-align: center;
                transition: all 0.5s;
                h2 {
                    transition: all 0.5s;
                    color: white;
                }
                cursor: pointer;
            }
            .diets-card:hover, .supplements-card:hover {
                transition: all 0.5s;
                scale: 1.05;
                h2 {
                    transition: all 0.5s;
                    color: var(--primary);
                }
            }
            .diets-card {
                margin-bottom: 40px;
                background-image: url("../assets/diets-card-bg.png");
            }
            .supplements-card {
                margin-top: 40px;
                background-image: url("../assets/supplements-card-bg.png");
            }
        }
    }
}