@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap");
:root {
  --primary: #F76B0A;
  --secondary: #19CEDA;
  --grey: #676767;
  --max-width: 1300px;
  --content-padding: 0 12em;
}

.prevent-select, h1, h2, h3, h4, h5, h6, p, li {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

html, body {
  margin: 0;
  letter-spacing: 2px;
}

body {
  color: white;
  background-color: black;
  font-family: 'Open Sans', sans-serif;
}

.btn-outline-primary {
  --bs-btn-color: var(--primary);
  --bs-btn-bg: transparent;
  --bs-btn-border-color: var(--primary);
  --bs-btn-border-radius: 0;
  --bs-btn-hover-color: white;
  --bs-btn-hover-bg: var(--primary);
  --bs-btn-hover-border-color: var(--primary);
  --bs-btn-active-color: white;
  --bs-btn-active-bg: var(--primary);
  --bs-btn-active-border-color: var(--primary);
  padding: 15px 25px;
  font-size: 17px;
  font-weight: 500;
}

.btn-outline-primary i {
  margin-left: 20px;
}

.btn-outline-secondary {
  --bs-btn-color: white;
  --bs-btn-bg: transparent;
  --bs-btn-border-color: white;
  --bs-btn-border-radius: 0;
  --bs-btn-hover-color: var(--primary);
  --bs-btn-hover-bg: white;
  --bs-btn-hover-border-color: white;
  --bs-btn-active-color: var(--primary);
  --bs-btn-active-bg: white;
  --bs-btn-active-border-color: white;
  padding: 15px 25px;
  font-size: 17px;
  font-weight: 500;
}

.btn-outline-secondary i {
  margin-left: 20px;
}

section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.section-headers {
  margin: 0;
  margin-bottom: 6%;
  font-weight: 500;
  font-size: 30px;
}

.section-headers span {
  color: var(--primary);
}

nav {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

nav .container-fluid .navbar-brand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  font-size: 25px;
  font-weight: 400;
  letter-spacing: 3px;
}

nav .container-fluid .navbar-brand span {
  color: var(--primary);
}

nav .container-fluid .navbar-brand img {
  height: 3.5rem;
  width: 3.5rem;
  margin-right: 10px;
  margin-left: 5px;
}

nav .container-fluid .collapse > .navbar-nav > .nav-item {
  padding-left: 40px;
  font-size: 1.1em;
}

nav .container-fluid .collapse > .navbar-nav > .nav-item .nav-link:hover {
  color: white;
}

.scrolled {
  background-color: rgba(0, 0, 0, 0.95);
  -webkit-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
          box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
}

/* HERO SECTION */
.hero-section .hero-inner {
  position: absolute;
  z-index: 12;
  width: 100%;
  text-align: center;
  top: 32%;
  left: 0;
}

.hero-section .hero-inner h4 {
  margin: 0;
  margin-bottom: 30px;
  font-size: 20px;
  font-weight: 500;
}

.hero-section .hero-inner h1 {
  margin: 0;
  font-size: 45px;
  font-weight: 500;
}

.hero-section .hero-inner h1 span {
  color: var(--primary);
}

.hero-section .hero-inner button {
  margin-top: 55px;
}

.hero-section .carousel-inner {
  height: 100vh;
  width: 100%;
}

.hero-section .carousel-inner .carousel-item img {
  height: 100vh;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

/* FEATURED SECTION */
.featured-section {
  padding: 0;
  padding-top: 8%;
}

.featured-section .section-content h6 {
  margin: 0;
  font-size: 20px;
  font-weight: 500;
}

.featured-section .section-content h1 {
  margin: 0;
  margin-top: 30px;
  font-size: 45px;
  font-weight: 500;
}

.featured-section .section-content h1 span {
  color: var(--secondary);
}

.featured-section .section-content p {
  margin-top: 30px;
  font-size: 17px;
}

.featured-section .section-content img {
  height: 30em;
  width: 30em;
  -o-object-fit: contain;
     object-fit: contain;
}

.featured-section .section-content button {
  margin-top: 50px;
}

.featured-section .featured-section-divider {
  border: none;
  background-color: var(--primary);
  color: var(--primary);
  margin: 80px 0;
  width: 70%;
  min-height: 2.5px;
}

/* WHO WE ARE SECTION */
.who-we-are-section {
  padding: 0;
  padding-top: 8%;
}

.who-we-are-section .row {
  width: 100%;
  margin: 0;
  padding: 0;
}

.who-we-are-section .col-4 {
  margin: 0;
  padding: 0;
  width: 360px;
}

.who-we-are-section .col-4 .card {
  height: 483px;
  width: 360px;
  border-radius: 0;
  padding: 0 26px;
}

.who-we-are-section .team-card > .card {
  border: none;
  background-image: url("../assets/team-pic.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.who-we-are-section .team-card > .card .team-card-details {
  position: absolute;
  bottom: 50px;
}

.who-we-are-section .team-card > .card .team-card-details h1 {
  margin: 0;
  font-size: 34px;
  font-weight: 600;
  margin-bottom: 18px;
}

.who-we-are-section .team-card > .card .team-card-details h4 {
  margin: 0;
  margin-bottom: 5px;
  font-size: 22px;
  font-weight: 400;
}

.who-we-are-section .team-card > .card .team-card-details h4:last-child {
  color: var(--grey);
}

.who-we-are-section .vision-card > .card {
  background-color: transparent;
  padding-top: 55px;
  border: 1px solid #232323;
}

.who-we-are-section .vision-card > .card h1 {
  margin-bottom: 20px;
  font-size: 34px;
  font-weight: 600;
}

.who-we-are-section .vision-card > .card p {
  font-size: 20px;
  color: white;
  text-align: left;
}

.who-we-are-section .vision-card > .card p:last-child {
  margin-top: 70px;
  font-size: 20px;
  color: var(--grey);
  text-align: left;
}

.who-we-are-section .impact-card > .card {
  padding-top: 55px;
  background-color: var(--primary);
  border: 1px solid var(--primary);
}

.who-we-are-section .impact-card > .card h1 {
  margin-bottom: 20px;
  font-size: 34px;
  font-weight: 600;
}

.who-we-are-section .impact-card > .card p {
  font-size: 20px;
  color: white;
  text-align: left;
}

.who-we-are-section .impact-card > .card hr {
  margin-top: 40px;
  border: none;
  background-color: white;
  width: 40%;
  height: 2.5px;
  float: left;
}

/* CAREERS SECTION */
.careers-section {
  padding: 0;
  padding-top: 8%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
}

.careers-section .career-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.careers-section .career-details .careers-section-card {
  height: 390px;
  width: 80%;
  margin-left: 0;
  background: linear-gradient(45deg, #CF4A00, #F76B0A, #F7980A);
  background-size: 600% 100%;
  -webkit-animation: gradient 3s linear infinite;
          animation: gradient 3s linear infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}

@-webkit-keyframes gradient {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 100%;
  }
}

@keyframes gradient {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 100%;
  }
}

.careers-section .career-details .careers-section-card .careers-section-card-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 20%;
  padding-left: 55px;
  padding-top: 51px;
}

.careers-section .career-details .careers-section-card .careers-section-card-content h1 {
  margin: 0;
  margin-bottom: 30px;
  font-size: 30px;
  font-weight: 700;
}

.careers-section .career-details .careers-section-card .careers-section-card-content p {
  margin: 0;
  font-size: 22px;
}

.careers-section .career-details .careers-section-card .careers-section-card-content button {
  margin-top: 30px;
}

.careers-section .career-details .careers-section-alpha-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #111111;
  margin-left: -7%;
  height: 280px;
  width: 27%;
}

.careers-section .career-details .careers-section-alpha-logo img {
  height: 100px;
  width: 100px;
}

.careers-section .career-details .careers-section-alpha-logo h3 {
  font-size: 20px;
  font-weight: 600;
}

/* CONTACT US SECTION */
.contact-us-section {
  margin-top: 115px;
  margin-bottom: 200px;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.contact-us-section .contact-us-content {
  margin: auto;
  width: 100%;
  max-width: var(--max-width);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact-us-section .contact-us-content .contact-us-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact-us-section .contact-us-content .contact-us-form input, .contact-us-section .contact-us-content .contact-us-form textarea {
  margin-top: 50px;
  resize: none;
}

.contact-us-section .contact-us-content .contact-us-form .text-input-field {
  background-color: transparent;
  color: #D0D0D0;
  border: none;
  border-bottom: 2px solid #151515;
  padding: 5px 0px;
  outline: none;
  font-size: 20px;
  font-family: inherit;
}

.contact-us-section .contact-us-content .contact-us-form button {
  margin-top: 55px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.contact-us-section .contact-us-content .contact-us-map {
  height: 500px;
}

/* FOOTER SECTION */
footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 20px;
  padding-bottom: 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  background-color: #111111;
}

footer .footer-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}

footer .footer-logo img {
  height: 40px;
  width: 40px;
}

footer .footer-logo p {
  margin: 0;
  margin-bottom: 2px;
  margin-left: 10px;
  padding: 0;
  font-size: 21px;
}

footer .footer-logo p span {
  color: var(--primary);
}

footer .footer-socials a > i {
  font-size: 18px;
}

footer .footer-socials .fa {
  background-color: transparent;
  padding: 5px;
  color: white;
  text-align: center;
  text-decoration: none;
  margin: 5px 5px;
}

footer .footer-socials .fa:hover {
  color: var(--primary);
}

footer h4 {
  margin: 0;
  padding: 0;
  font-size: 17px;
  font-weight: 300;
}
/*# sourceMappingURL=styles.css.map */